.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
  
    .messageWrapper {
      display: flex;
      align-items: center;
  
      .iconWrapper {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: #4caf50;
        color: #f8fafc;
        padding: 0.5rem;
        margin-right: 0.5rem;
  
        svg {
          width: 100%;
          height: 100%;
        }
      }
  
      .messageCreatedAt {
        text-align: left;
  
        .messageThinking {
          font-size: 1rem;
          font-weight: 500;
          color: #333;
        }
      }
    }
  }
  